$react-blockquote-options:(
  color: #ccc,
  font-size: 50px,
  opacity: 0.3
)!default;

.react-blockquote{
  $color: map-get($map: $react-blockquote-options, $key: color);
  $font-size: map-get($map: $react-blockquote-options, $key: font-size);
  $opacity: map-get($map: $react-blockquote-options, $key: opacity);
  position: relative;

  &:before,
  &:after{
    content:'';
    width: 24px;
    height:24px;
    display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTEgOS4yNzVjMCA1LjE0MS0zLjg5MiAxMC41MTktMTAgMTEuNzI1bC0uOTg0LTIuMTI2YzIuMjE1LS44MzUgNC4xNjMtMy43NDIgNC4zOC01Ljc0Ni0yLjQ5MS0uMzkyLTQuMzk2LTIuNTQ3LTQuMzk2LTUuMTQ5IDAtMy4xODIgMi41ODQtNC45NzkgNS4xOTktNC45NzkgMy4wMTUgMCA1LjgwMSAyLjMwNSA1LjgwMSA2LjI3NXptMTMgMGMwIDUuMTQxLTMuODkyIDEwLjUxOS0xMCAxMS43MjVsLS45ODQtMi4xMjZjMi4yMTUtLjgzNSA0LjE2My0zLjc0MiA0LjM4LTUuNzQ2LTIuNDkxLS4zOTItNC4zOTYtMi41NDctNC4zOTYtNS4xNDkgMC0zLjE4MiAyLjU4NC00Ljk3OSA1LjE5OS00Ljk3OSAzLjAxNSAwIDUuODAxIDIuMzA1IDUuODAxIDYuMjc1eiIvPjwvc3ZnPg==) no-repeat;
    font-weight: bold;
    font-size:$font-size;
    color:$color;
    position: absolute;
    opacity: $opacity;
  }

  &:before {
    transform: rotateY(180deg);
    top: 0;
    left: 0;
  }

  &:after{
    bottom: 0;
    right: 0;
  }
}
